---
---

$color-primary: #c41483

@mixin font-weight($weight)
	font-variation-settings: "wght" $weight
	font-weight: $weight

@font-face
	font-family: 'Inter var'
	font-style: normal
	font-weight: 100 900
	font-display: swap
	src: url('Inter-roman.var.woff2') format('woff2')
	font-named-instance: 'Regular'

\:root
	--font-size-base: 16
	--color-bg: #fff
	--color-fg: #000
	--color-primary: #{$color-primary}
	--color-shadow: #{rgba($color-primary, 0.2)}

a
	color: var(--color-primary)
	display: inline-block
	text-decoration: none
	text-shadow: 0 0 0 var(--color-shadow)
	transform: scale(1)
	transform-origin: bottom left
	transition: all 0.1s linear

	&:focus,
	&:hover
		color: var(--color-fg)
		outline: none
		text-shadow: 0.1rem 0.1rem 0 var(--color-shadow)
		transform: scale(1.2)

body
	@include font-weight(300)
	background: var(--color-bg)
	color: var(--color-fg)
	font-family: 'Inter var', 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif
	letter-spacing: 0.02em
	line-height: 1.6
	margin: 3rem auto
	max-width: 35rem
	min-height: 100%
	min-width: 15rem
	padding: 0 2rem

dd
	margin: 0 0 2rem 0

dt
	@include font-weight(600)
	--font-size: calc(1.4 * var(--font-size-base))
	font-size: calc(var(--font-size, 16) * 1px)
	letter-spacing: unquote('calc((-0.0223 + 0.185 * exp(-0.1745 * var(--font-size, 16))) * 1px)')
	line-height: unquote('var(--line-height, 1.4)')
	margin: 2rem 0 0.5rem 0

h1
	@include font-weight(300)
	--font-size: calc(2 * var(--font-size-base))
	font-size: calc(var(--font-size, 16) * 1px)
	letter-spacing: unquote('calc((-0.0223 + 0.185 * exp(-0.1745 * var(--font-size, 16))) * 1px)')
	line-height: var(--logo-size)
	margin: 2rem auto 1rem
	text-transform: lowercase

hr
	border: 0
	border-bottom: 1px solid var(--color-primary)
	margin: 2rem 0
	opacity: 0.5

html
	--font-size: var(--font-size-base)
	--letter-spacing: 2
	--line-height: 2
	font-size: calc(var(--font-size, 16) * 1px)
	letter-spacing: unquote('calc((-0.0223 + 0.185 * exp(-0.1745 * var(--font-size, 16))) * 1px)')
	line-height: unquote('var(--line-height, 1.4)')

main
	box-sizing: border-box
	margin: 0 auto
	padding-left: calc((var(--logo-size) + 1rem))

menu
	display: flex
	gap: 2rem
	flex-flow: row wrap
	list-style: none

	&, > li
		margin: 0
		padding: 0

	.right
		margin-left: auto

		a
			transform-origin: bottom right

strong
	@include font-weight(500)

@media (prefers-color-scheme: dark)
	\:root
		--color-bg: #000
		--color-fg: #fff
		--color-primary: #{lighten($color-primary, 10%)}
		--color-shadow: #{rgba($color-primary, 1)}
